* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GLobal Variables */
:root{

    --sketch-height: 400px;
    --sketch-width: 400px;
}

/* Utilities */
/* body {
    height: 100vh;
} */

.container-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}


/* Sketch Divs */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: var(--sketch-height);
    width: var(--sketch-width);
    outline: red solid 1px;
}

.button-primary:hover {
    background-color: red;
    
    cursor: pointer;

}


